<script>
	import Test from '$lib/components/Test.svelte';
	import Wcag from '$lib/components/Wcag.svelte'

	let {livecode} = $props();
</script>

# 0.1 Hello World

 While this looks like a perfectly normal heading, something is not quite right. Open the browser dev tools and inspect the heading. 

<Test
	{livecode}
	testFunction="const heading = getByRole(screen, 'heading');
expect(heading).to.exist;"
/>

<Wcag ref_id="4.1.2" variant="card" />